body {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 640px) {

/* Start der App */
.lightning {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.startheading {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.startslogan {
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 20px;
}

.start {
    display: block;
}


/* Navigation */

.navigation {
    background-color: #fff8d0;
    height: 120px;
}

.house {
    position: relative;
    top: 5%;
    left: 90%;
    font-size: 20px;
}

.arrow {
    position: relative;
    top: 5%;
    font-size: 20px;
}


/* Hauptmenü */

.menu {
    display: none;
}

.menuheading {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.status {
    background-color: #ffc09f;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.feed {
    background-color: #adf7b6;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.profile {
    background-color: #a0ced9;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.chatfield {
    background-color: #ffee93;
    position: absolute;
    top: 50%;
    right: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.textmenu {
    text-align: center;
    position: relative;
    top: 17%;
}


/* Chat */

.chat {
    display: none;
}

.chatname {
    position: relative;
    left: 25%;
    top: 5%;
    font-size: 20px;
}

.picturespan {
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: 60px;
}

.profilepicture {
    width: 100px;
    height: 75px;
    border-radius: 10px;
}
#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}
#input:focus {
    outline: none;
}
#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages > li {
    padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd){
    background: #efefef;
}
}
