body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
}

@media screen and (max-width: 640px) {

/* Start der App */
.lightning {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.startheading {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.startslogan {
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 20px;
}

.start {
    display: block;
}


/* Navigation */

.navigation {
    background-color: #fff8d0;
    height: 120px;
}

.house {
    position: relative;
    top: 5%;
    left: 90%;
    font-size: 20px;
}

.arrow {
    position: relative;
    top: 5%;
    font-size: 20px;
}

/* Login */
.login {
    display: none;
}

.loginheading {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.loginspan {
    position: absolute;
    top: 30%;
    left: 10%;
}

.logindescription {
   text-align: center;
}

.usernameinput {
    border: none;
    padding: 7px 4px 7px 4px;
    width: 100%;
    /* flex-grow: 1; */
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;
    margin: 0.25rem;
}

.loginButton {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 15%;
    background: rgb(163, 163, 163);
    border: none;
    padding: 7px 4px 7px 4px;
    margin: 0.25rem;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
    outline: none;
    color: white;
}

/* Hauptmenü */

.menu {
    display: none;
}

.menuheading {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.statusfield {
    background-color: #ffc09f;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.feedfield {
    background-color: #adf7b6;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.profilefield {
    background-color: #a0ced9;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.chatfield {
    background-color: #ffee93;
    position: absolute;
    top: 50%;
    right: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.textmenu {
    text-align: center;
    position: relative;
    top: 17%;
}


/* Kategorien */

.maincategory {
    display: none;
}

.statusheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.description {
    position: absolute;
    top: 13%;
    left: 5%;
    font-size: 15px;
}

.music {
    background-color: #ffc09f;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.film {
    background-color: #adf7b6;
    position: absolute;
    top: 38%;
    left: 5%;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.sport {
    background-color: #a0ced9;
    position: absolute;
    top: 56%;
    left: 5%;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.fitness {
    background-color: #ffee93;
    position: absolute;
    top: 74%;
    left: 5%;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.category {
    text-align: right;
    position: relative;
    top: 5%;
    right: 5%;
}


/* Streaming Dienst */

.streaming {
    display: none;
}

.streamingheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.spotify {
    background-color: #ffc09f;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.deezer {
    background-color: #ffe0cf;
    position: absolute;
    top: 36%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.applemusic {
    background-color: #ffe0cf;
    position: absolute;
    top: 52%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.tidal {
    background-color: #ffe0cf;
    position: absolute;
    top: 68%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.amazonmusic {
    background-color: #ffe0cf;
    position: absolute;
    top: 84%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.category {
    text-align: right;
    position: relative;
    top: 5%;
    right: 5%;
}


/* Genre */

.genre {
    display: none;
}

.genreheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.jazz {
    background-color: #ffc09f;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.rnb {
    background-color: #ffe0cf;
    position: absolute;
    top: 36%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.klassik {
    background-color: #ffe0cf;
    position: absolute;
    top: 52%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.soul {
    background-color: #ffe0cf;
    position: absolute;
    top: 68%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;
}

.hiphop {
    background-color: #ffe0cf;
    position: absolute;
    top: 84%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.category {
    text-align: right;
    position: relative;
    top: 5%;
    right: 5%;
}


/* fertiger Status */
.status {
    display: none;
}

.statusheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.description2 {
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 20px;
}

.time {
    position: absolute;
    top: 19%;
    left: 75%;
    font-size: 15px;
}

.icons {
    position: absolute;
    top: 30%;
    left: 80%;
}

.seperate {
    border-left: 4px solid #000000;
    height: 10px;
}

.statusdiv {
    background-color: #ffc09f;
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
    height: 85px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.head {
    position: relative;
    width: 100%;
    height: 50%;
}

.category1 {
    position: relative;
    top: 20%;
    left: 3%;
}

.category2 {
    position: relative;
    top: 20%;
    left: 10%;
}

.category3 {
    position: relative;
    top: 20%;
    left: 20%;
}

.bottom {
    position: relative;
    width: 100%;
    height: 50%;
}

.chosencategory1 {
    position: relative;
    top: 20%;
    left: 5%;
}

.chosencategory2 {
    position: relative;
    top: 20%;
    left: 30%;
}

.chosencategory3 {
    position: relative;
    top: 20%;
    left: 52%;
}

.notification {
    background-color: #ffffff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 45px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
    text-align: center;
}

.postbutton {
    background-color: #eaeaea;
    position: absolute;
    top: 90%;
    left: 60%;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border-color: #eaeaea;
    box-shadow: 7px 7px 7px #dbdbdb;;
    text-align: center;
    font-size: 15px;
}

/* Profilansicht */
.profile {
    display: none;
}

.chatname {
    position: relative;
    top: 3%;
    left: 30%;
}

.picturespan {
    position: absolute;
    top: 10%;
    left: 60%;
    width: 20px;
    height: 20px;
}

.overview {
    position: absolute;
    top: 17%;
    left: 15%;
    width: 75%;
    height: 7%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
    background-color: white;
}

.leftside {
    position: relative;
    width: 35%;
    height: 100%;
    background-color: #ffc09f;
    border-radius: 10px;
    text-align: center;
}

.profiletextleft {
    position: relative;
    top: 30%;
    font-size: 17px;
}

.notificationtextleft {
    position: absolute;
    top: 30%;
    left: 110%;
    font-size: 17px;
}

.profilediv {
    position: relative;
    top: 100%;
}

.input {
    font-size: 15px;
}

.mail {
    position: relative;
    left: -20%;
}

.logout {
    color: red;
    position: relative;
    top: 120%;
    left: 80%;
}

.rightside {
    display: none;
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #ffc09f;
    border-radius: 10px;
    text-align: center;
}

.profiletextright {
    position: relative;
    top: 30%;
    left: 70%;
    font-size: 17px;
}

.notificationtextright {
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 17px;
}

.pushnotifications {
    position: relative;
    top: 90%;
    left: 0%;
}

.notificationspan {
    position: relative;
    top: 100%;
    left: 0%;
}

/* .labeltext {
    width: 30%;
} */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 30px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #ffc09f;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #ffc09f;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Feed */
.feed {
    display: none;
}

.feedheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.filter {
    position: absolute;
    top: 13%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.status1 {
    position: absolute;
    background-color: #ffc09f;
    top: 20%;
    left: 10%;
    width: 37%;
    height: 17%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.status2 {
    position: absolute;
    background-color: #adf7b6;
    top: 20%;
    left: 53%;
    width: 37%;
    height: 17%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;
}

.status3 {
    position: absolute;
    background-color: #a0ced9;
    top: 40.5%;
    left: 10%;
    width: 37%;
    height: 17%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.status4 {
    position: absolute;
    background-color: #ffee93;
    top: 40.5%;
    left: 53%;
    width: 37%;
    height: 17%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
}

.name {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: large;
}

.info {
    text-align: center;
    position: relative;
    top: 2%;
}

.statusclass {
    background-color: #ffc09f;
    position: absolute;
    top: 61%;
    left: 10%;
    width: 37%;
    height: 17%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.usernameclass {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: large;
}

.activityclass {
    text-align: center;
    position: relative;
    top: 2%;
    font-size: medium;
}

/* Chat */

.chat {
    display: none;
    
}

.chatheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.refresh {
    position: absolute;
    top: 4%;
    background: rgb(163, 163, 163);
    border: none;
    padding: 7px 4px 7px 4px;
    margin: 0.25rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #dbdbdb;;
    outline: none;
    color: white;
}

.messagefield {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.inputmessage {
    border: none;
    padding: 7px 4px 7px 4px;
    width: 70%;
    flex-grow: 1;
    border-radius: 10px;
    margin: 0.25rem;
}

.inputmessage:focus {
    outline: none;
}

.sendbutton {
    background: rgb(163, 163, 163);
    border: none;
    padding: 7px 4px 7px 4px;
    margin: 0.25rem;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
    outline: none;
    color: white;
}

.messagediv {
    background-color: #ffffff;
    position: relative;
    height: 25%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #dbdbdb;;
    padding: 7px 4px 7px 4px;
}

.messagediv:nth-child(odd){
    background: #efefef;
}
}
