body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
}

@media screen and (max-width: 640px) {

/* Start der App */
.lightning {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.startheading {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.startslogan {
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 20px;
}

.start {
    display: block;
}


/* Navigation */

.navigation {
    background-color: #fff8d0;
    height: 120px;
}

.house {
    position: relative;
    top: 5%;
    left: 90%;
    font-size: 20px;
}

.arrow {
    position: relative;
    top: 5%;
    font-size: 20px;
}


/* Hauptmenü */

.menu {
    display: none;
}

.menuheading {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.statusfield {
    background-color: #ffc09f;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.feedfield {
    background-color: #adf7b6;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.profilefield {
    background-color: #a0ced9;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.chatfield {
    background-color: #ffee93;
    position: absolute;
    top: 50%;
    right: 10%;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.textmenu {
    text-align: center;
    position: relative;
    top: 17%;
}


/* Kategorien */

.maincategory {
    display: none;
}

.statusheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.description {
    position: absolute;
    top: 13%;
    left: 5%;
    font-size: 15px;
}

.music {
    background-color: #ffc09f;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.film {
    background-color: #adf7b6;
    position: absolute;
    top: 38%;
    left: 5%;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.sport {
    background-color: #a0ced9;
    position: absolute;
    top: 56%;
    left: 5%;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.fitness {
    background-color: #ffee93;
    position: absolute;
    top: 74%;
    left: 5%;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.category {
    text-align: right;
    position: relative;
    top: 5%;
    right: 5%;
}


/* Streaming Dienst */

.streaming {
    display: none;
}

.streamingheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.spotify {
    background-color: #ffc09f;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.deezer {
    background-color: #ffe0cf;
    position: absolute;
    top: 36%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.applemusic {
    background-color: #ffe0cf;
    position: absolute;
    top: 52%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.tidal {
    background-color: #ffe0cf;
    position: absolute;
    top: 68%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.amazonmusic {
    background-color: #ffe0cf;
    position: absolute;
    top: 84%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.category {
    text-align: right;
    position: relative;
    top: 5%;
    right: 5%;
}


/* Genre */

.genre {
    display: none;
}

.genreheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.jazz {
    background-color: #ffc09f;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.rnb {
    background-color: #ffe0cf;
    position: absolute;
    top: 36%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.klassik {
    background-color: #ffe0cf;
    position: absolute;
    top: 52%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.soul {
    background-color: #ffe0cf;
    position: absolute;
    top: 68%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.hiphop {
    background-color: #ffe0cf;
    position: absolute;
    top: 84%;
    left: 5%;
    width: 320px;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.category {
    text-align: right;
    position: relative;
    top: 5%;
    right: 5%;
}


/* fertiger Status */
.status {
    display: none;
}

.statusheading {
    margin: 0;
    position: absolute;
    top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.description2 {
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 20px;
}

.time {
    position: absolute;
    top: 19%;
    left: 75%;
    font-size: 15px;
}

.icons {
    position: absolute;
    top: 30%;
    left: 80%;
}

.seperate {
    border-left: 4px solid #000000;
    height: 10px;
}

.statusdiv {
    background-color: #ffc09f;
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
    height: 85px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
}

.head {
    position: relative;
    width: 100%;
    height: 50%;
}

.category1 {
    position: relative;
    top: 20%;
    left: 3%;
}

.category2 {
    position: relative;
    top: 20%;
    left: 10%;
}

.category3 {
    position: relative;
    top: 20%;
    left: 20%;
}

.bottom {
    position: relative;
    width: 100%;
    height: 50%;
}

.chosencategory1 {
    position: relative;
    top: 20%;
    left: 5%;
}

.chosencategory2 {
    position: relative;
    top: 20%;
    left: 30%;
}

.chosencategory3 {
    position: relative;
    top: 20%;
    left: 52%;
}

.notification {
    background-color: #ffffff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90%;
    height: 45px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #b6b6b6;
    text-align: center;
}

.postbutton {
    background-color: #eaeaea;
    position: absolute;
    top: 90%;
    left: 60%;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border-color: #eaeaea;
    box-shadow: 5px 5px 5px #b6b6b6;
    text-align: center;
    font-size: 15px;
}

/* Profilansicht */
.profile {
    display: none;
}


/* Chat */

.chat {
    display: none;
}

.chatname {
    position: relative;
    left: 25%;
    top: 5%;
    font-size: 20px;
}

.picturespan {
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: 60px;
}

.profilepicture {
    width: 100px;
    height: 75px;
    border-radius: 10px;
}
#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}
#input:focus {
    outline: none;
}
#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages > li {
    padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd){
    background: #efefef;
}
}
